<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="app.component.css" type="text/css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Calculator</title>
</head>
<body>
  <div class="full">
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/comp1" routerLinkActive="active">Calculator</a>
  <a routerLink="/comp2" routerLinkActive="active">Coverter</a>
  <a routerLink="/comp3" routerLinkActive="active">Date</a>
  <a routerLink="/comp4" routerLinkActive="active">Form</a>
  </div>
  <router-outlet></router-outlet>
  
</body>
</html>